body {
    margin: 0;
    padding: 0;
    position: relative;
}

#header {
    background-image: url("https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    color: white;
    position: fixed;
}

#header-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

.main-title {
    font-size: 50px;
    padding: 50px;
}

.site-map li {
    display: inline;
    padding: 20px;
}

li a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 40px;
    margin: 50px;
}

#about-us {
    margin: 50px;
}

.about-us-descr {
    font-size: 20px;
    width: 80%;
    margin: auto;
    line-height: 1.4;

}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 30px;
}

.container1 .items {
    width: 100%;
    height: 400px;
    font-size: 20px;
    margin-bottom: 50px;
}

.items img {
    width: 100%;
    height: 100%;
}

.description {
    padding: 20px;
}

.photo-gallery {
    width: 40%;
    margin: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

footer {
    background-color: #fffaf2;
}

.contacts {
    font-size: 40px;
    margin: 40px;
    padding-top: 30px;
}

.contact-info li {
    display: inline;
    padding: 20px;
}

.icon img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.inquiry {
    margin: auto;
    width: 50%;
    margin-bottom: 30px;

}

form input {
    margin: 5px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}